*.avro
.idea/
.DS_Store
*.iml
target/
*.log
.project
.settings/
kafka-consumer/.classpath
kafka-consumer/.project
kafka-consumer/.settings/
kafka-producer/.classpath
kafka-producer/.project
kafka-producer/.settings/